html, body {
    background-color: var(--darkBG);
    color: var(--darkFG);
}

a, .pageLabel, .credits, .tooltip, .subtitle {
    color: var(--darkSubFG);
}

a:hover {
    color: var(--darkAccent);
}

#funstuff {
    background-color: var(--darkBG);
}

#funstuff:hover #dmTooltip {
    color: var(--darkAccent);
}

@media only screen and (max-width: 600px) {
    #mobileNavBar {
        background: var(--darkBG);
    }
    
    #sidebar {
        background-color: rgba(20, 20, 30, 0.3);
    }
}