html, body {
    background-color: var(--mainBG);
    color: var(--mainFG);
}

a, .pageLabel, .credits, .tooltip, .subtitle {
    color: var(--subFG);
}

a:hover {
   color: var(--mainAccent);
}

#funstuff {
    background-color: var(--mainBG);
}

#funstuff:hover #dmTooltip {
    color: var(--mainAccent);
}

#dmTooltip {
    color: var(--subFG);
}

@media only screen and (max-width: 600px) {
    #mobileNavBar {
        background: var(--mainBG);
    }

    #sidebar {
        background-color: rgba(225, 225, 235, 0.3);
    }
}