:root {
    --mainBG: rgb(225, 225, 235);
    --mainFG: rgb(20, 20, 30);
    --subFG: rgb(120, 120, 140);
    --mainAccent: rgb(100, 100, 180);

    --darkBG: rgb(20, 20, 30);
    --darkFG: rgb(225, 225, 235);
    --darkSubFG: rgb(105, 105, 125);
    --darkAccent: rgb(135, 135, 190);
}

html, body {
    background-color: var(--mainBG);
    font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    color: var(--mainFG);
    transition: background-color 1s, color 1s;
    scroll-behavior: smooth;
    user-select: none;
    max-width: 23in;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: var(--subFG);
    font-family: 'Roboto Mono', 'Courier New', Courier, monospace;
    transition: color 0.25s;
}


.header {
    font-size: larger;
    letter-spacing: -1px;
}

.subtitle {
    color: var(--subFG);
    font-family: 'Roboto Mono', 'Courier New', Courier, monospace;
}

.greeting {
    width: 60%;
    text-align: left;
}

#page1::before {
    opacity: 0;
}

#page1 {
    animation: fadeIn 1.5s;
}

#page1 > .greeting > .header {
    line-height: 0;
}

.credits {
    width: 60%;
    color: var(--subFG);
    font-family: 'Roboto Mono', 'Courier New', Courier, monospace;
    text-align: left;
    font-size: smaller;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 70%;
    height: 90vh;
    max-height: 1600px;
    min-height: 800px;
    padding: 5vh 5%;
    float: right;
}

.pageLabel {
    letter-spacing: 2px;
    color: var(--subFG);
    font-family: 'Roboto Mono', 'Courier New', Courier, monospace;
    transition: color 0.25s;
}

a:hover {
    color: var(--mainAccent);
}

#sidebar {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column wrap;
    height: 100vh;
    width: 25%;
    min-width: 300px;
    max-width: 500px;
    float: left;
    position: fixed;
    animation: sidebarSlideIn 0.5s;
}

#funstuff {
    width: 100%;
    height: 10%;
    max-height: 2em;
    min-height: 100px;
    position: absolute;
    bottom: 0;
    display: flex;
    flex-direction: row wrap;
    align-items: center;
    justify-content: space-evenly;
    transition: background-color 1s, color 0.25s;
    background-color: var(--mainBG);
}

#darkMode {
    display: flex;
    flex-direction: column;
    height: 1.5em;
    overflow-y: hidden;
    cursor: pointer;
}

#sunImage, #moonImage {
    width: 1.5em;
    height: auto;
    transition: margin 0.25s;
}

#translate > .funImage {
    width: 3em;
    height: auto;
}

.separator {
    width: 1em;
    height: auto;
}

#sidebarContainer {
    width: 60%;
    margin-bottom: -200px;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes sidebarSlideIn {
    0% {
        opacity: 0;
        margin-left: -40px;
    }

    100% {
        opacity: 1;
        margin-left: 0;
    }
}