:root {
    --mainBG: rgb(225, 225, 235);
    --mainFG: rgb(20, 20, 30);
    --subFG: rgb(80, 80, 90);
    --mainAccent: rgb(100, 100, 180);

    --darkBG: rgb(20, 20, 30);
    --darkFG: rgb(225, 225, 235);
    --darkSubFG: rgb(105, 105, 125);
    --darkAccent: rgb(135, 135, 190);
}

html, body {
    background-color: var(--mainBG);
    font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    color: var(--mainFG);
    transition: background-color 1s, color 1s;
    scroll-behavior: smooth;
    user-select: none;
    max-width: 1920px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: var(--subFG);
    font-family: 'Roboto Mono', 'Courier New', Courier, monospace;
    transition: color 0.25s;
}


.header {
    font-size: larger;
    letter-spacing: -1px;
}

.subtitle {
    color: var(--subFG);
    font-family: 'Roboto Mono', 'Courier New', Courier, monospace;
}

.frontPage::before {
    opacity: 0;
}

.frontPage {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    width: 70%;
    max-height: 1600px;
    min-width: 800px;
    height: 90vh;
    padding: 5% 5% 5% 5%;
    float: right;
    animation: fadeIn 1.5s;
}

.greeting {
    max-width: 60%;
    margin: 0 auto;
}

.frontPage > .greeting {
    line-height: 0.5;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 70%;
    height: 90vh;
    max-height: 1600px;
    min-height: 800px;
    padding: 5% 5% 5% 5%;
    float: right;
}

.pageLabel {
    letter-spacing: 2px;
    color: var(--subFG);
    font-family: 'Roboto Mono', 'Courier New', Courier, monospace;
    transition: color 0.25s;
}

a:hover {
    color: var(--mainAccent);
}

#sidebar {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 20%;
    min-width: 300px;
    max-width: 400px;
    float: left;
    position: fixed;
    animation: sidebarSlideIn 0.5s;
}

#sidebarContainer {
    width: 60%;
    margin-bottom: -150px;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes sidebarSlideIn {
    0% {
        opacity: 0;
        margin-left: -40px;
    }

    100% {
        opacity: 1;
        margin-left: 0;
    }
}



/* 
 *   dark mode
 */



 @media (prefers-color-scheme: dark) {
     html, body {
         background-color: var(--darkBG);
         color: var(--darkFG);
     }

     .subtitle {
         color: var(--darkSubFG);
     }

     a, .pageLabel {
         color: var(--darkSubFG);
     }
 }