:root {
    --mainBG: rgb(225, 225, 235);
    --mainFG: rgb(20, 20, 30);
    --subFG: rgb(120, 120, 140);
    --mainAccent: rgb(100, 100, 180);

    --darkBG: rgb(20, 20, 30);
    --darkFG: rgb(225, 225, 235);
    --darkSubFG: rgb(105, 105, 125);
    --darkAccent: rgb(135, 135, 190);
}

html, body {
    font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    transition: background-color 1s, color 1s;
    scroll-behavior: smooth;
    user-select: none;
    max-width: 23in;
    margin: 0 auto;
}

a {
    text-decoration: none;
    font-family: 'Roboto Mono', 'Courier New', Courier, monospace;
}


.header {
    font-size: larger;
    letter-spacing: -1px;
}

.subtitle {
    font-family: 'Roboto Mono', 'Courier New', Courier, monospace;
}

.greeting {
    width: 60%;
    text-align: left;
}

#page1::before {
    opacity: 0;
}

#page1 {
    animation: fadeIn 1.5s;
}

#page1 > .greeting > .header {
    line-height: 0;
}

#page2, #page3, #page4 {
    min-height: 800px;
}

#page4 .greeting p {
    text-indent: 40px;
}

.credits {
    width: 60%;
    font-family: 'Roboto Mono', 'Courier New', Courier, monospace;
    text-align: left;
    font-size: smaller;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 65%;
    height: 90vh;
    max-height: 3840px;
    padding: 5vh 5%;
    float: right;
}

.pageLabel {
    letter-spacing: 2px;
    font-family: 'Roboto Mono', 'Courier New', Courier, monospace;
}

.pageLabel:hover {
    text-decoration: underline;
}

#sidebar {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column wrap;
    height: 100vh;
    max-height: 2160px;
    width: 25%;
    min-width: 300px;
    max-width: 500px;
    float: left;
    position: fixed;
    animation: sidebarSlideIn 0.5s;
}

#funstuff {
    width: 60%;
    height: 10%;
    max-height: 2em;
    min-height: 100px;
    position: absolute;
    bottom: 0;
    display: flex;
    align-self: flex-start;
    flex-direction: row nowrap;
    align-items: center;
    transition: background-color 1s, color 0.25s;
    cursor: pointer;
}

#dmTooltip {
    font-size: x-small;
    margin: 2em;
    font-family: 'Roboto Mono', 'Courier New', Courier, monospace;
    letter-spacing: 2px;
    font-weight: bold;
    opacity: 0;
    transition: opacity 0.25s, color 0.25s;
}

#funstuff:hover #dmTooltip {
    opacity: 1;
}

#darkMode {
    display: inline-flex;
    flex-direction: column;
    height: 1em;
    width: 1em;
    overflow-y: hidden;
}

#sunImage, #moonImage {
    width: 1em;
    height: 1em;
    transition: margin 0.25s;
}

#translate {
    display: flex;
    flex-direction: column;
    height: 3em;
    overflow-y: hidden;
    cursor: pointer;
}

#filtoen, #entofil {
    width: 3em;
    height: auto;
    transition: margin 0.25s;
}

.separator {
    width: 1em;
    height: auto;
}

#sidebarContainer {
    width: 60%;
    margin-bottom: -200px;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes sidebarSlideIn {
    0% {
        opacity: 0;
        margin-left: -40px;
    }

    100% {
        opacity: 1;
        margin-left: 0;
    }
}


/*
 *  breakpoints
 */

 @media only screen and (max-width: 600px) {
    .container {
        width: 100vw;
        padding: 5vh 0;
    }

    .greeting, .credits {
        width: 80%;
    }

    .credits {
        padding-bottom: 20vh;
    }

    #page4 {
        height: fit-content;
    }

     #sidebar {
         width: 100vw;
         max-width: 600px;
         backdrop-filter: blur(10px);
         opacity: 0;
         z-index: -1;
         animation: none;
         transition: opacity 0.25s;
         padding: none;
     }

     #sidebarContainer {
         margin-bottom: 0 !important;
     }

     .separator {
        width: 2em;
        height: auto;
    }

     .pageLabel {
        font-size: 12pt;
     }

     #mobileNavBar {
         position: fixed;
         top: 0;
         z-index: 2;
         width: 100vw;
         height: 6vh;
         display: flex;
         align-items: center;
         justify-content: center;
     }

     .burger {
         height: 5vh;
         width: auto;
     }

     #funstuff {
         background: none !important;
         min-height: 100px;
         justify-content: center;
     }
 }

 @media only screen and (min-width: 601px) {
    #mobileNavBar {
        display: none;
    }
 }

 @media only screen and (max-height: 700px) and (orientation: landscape) {
     #sidebarContainer {
         margin-bottom: 0 !important;
     }

     #funstuff {
        display: none;
    }
 }

 @media only screen and (hover: none) {
    #dmTooltip {
        opacity: 0.7;
    }
    
    .pageLabel:hover {
        text-decoration: none;
    }
 }