:root {
    --mainBG: rgb(225, 225, 235);
    --mainFG: rgb(20, 20, 30);
    --subFG: rgb(120, 120, 140);
    --mainAccent: rgb(100, 100, 180);

    --darkBG: rgb(20, 20, 30);
    --darkFG: rgb(225, 225, 235);
    --darkSubFG: rgb(105, 105, 125);
    --darkAccent: rgb(135, 135, 190);
}

html, body {
    background-color: var(--mainBG);
    font-family: 'Montserrat', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    color: var(--mainFG);
    transition: background-color 1s, color 1s;
    scroll-behavior: smooth;
    user-select: none;
    max-width: 1920px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: var(--subFG);
    font-family: 'Roboto Mono', 'Courier New', Courier, monospace;
    transition: color 0.25s;
}


.header {
    font-size: larger;
    letter-spacing: -1px;
}

.subtitle {
    color: var(--subFG);
    font-family: 'Roboto Mono', 'Courier New', Courier, monospace;
}

.greeting {
    width: 60%;
    text-align: left;
}

#page1::before {
    opacity: 0;
}

#page1 {
    animation: fadeIn 1.5s;
}

#page1 > .greeting > .header, #page1 > .greeting > #scroll {
    line-height: 0;
}

.credits {
    width: 60%;
    color: var(--subFG);
    font-family: 'Roboto Mono', 'Courier New', Courier, monospace;
    text-align: left;
    font-size: smaller;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 70%;
    height: 90vh;
    max-height: 1600px;
    min-height: 800px;
    padding: 5vh 5%;
    float: right;
}

.pageLabel {
    letter-spacing: 2px;
    color: var(--subFG);
    font-family: 'Roboto Mono', 'Courier New', Courier, monospace;
    transition: color 0.25s;
}

a:hover {
    color: var(--mainAccent);
}

#sidebar {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    width: 25%;
    min-width: 300px;
    max-width: 500px;
    float: left;
    position: fixed;
    animation: sidebarSlideIn 0.5s;
}

.separator {
    width: 1em;
    height: auto;
}

#sidebarContainer {
    width: 60%;
    margin-bottom: -200px;
}

@keyframes fadeIn {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes sidebarSlideIn {
    0% {
        opacity: 0;
        margin-left: -40px;
    }

    100% {
        opacity: 1;
        margin-left: 0;
    }
}

@keyframes typewriter {
    0% {
        content: 'k';
    }

    14% {
        content: 'ka';
    }

    28% {
        content: 'kam';
    }

    42% {
        content: 'kamu';
    }

    56% {
        content: 'kamus';
    }

    70% {
        content: 'kamust';
    }

    84% {
        content: 'kamusta';
    }

    96% {
        content: 'kamusta.';
    }
}



/* 
 *   dark mode
 */



 @media (prefers-color-scheme: dark) {
     html, body {
         background-color: var(--darkBG);
         color: var(--darkFG);
     }

     .subtitle {
         color: var(--darkSubFG);
     }

     a, .pageLabel, .credits {
         color: var(--darkSubFG);
     }

     a:hover {
        color: var(--darkAccent);
    }
    
 }